.fridge-wrapper {
  transition: all .2s ease-in;
  @apply fixed top-0 right-0;
  @apply z-[1000];
  @apply w-[100%] h-[100%];
  @apply bg-dark-gray bg-opacity-20;

  &:not(.visible) {
    @apply invisible;
  }
}

.fridge {
  transition: transform .2s ease-in-out;
  transform: translateX(-100%);
  will-change: transform;
  @apply w-[80%] h-[100%];
  @apply bg-white;
  @apply drop-shadow-xl;
  @apply pointer-events-auto;
  @apply p-1;
}

.fridge_active {
  transition: transform .2s ease-in-out;
  transform: translateX(0);
}