@import "assets/scss/mixins";

.v-input-wrapper {
  @apply flex;
}

.v-input-label {
  @apply text-[14px] text-dark-gray;
  @apply space-x-1;

  &__error {
    @apply text-[12px] text-dark-gray;
    @apply text-coral
  }
}

.v-input {
  &:not(.v-input_checkbox) {
    @include input-base;
  }

  &__inner {
    @apply p-1;
    @apply absolute top-0 h-[100%];
    @apply flex items-center max-w-[24px] overflow-hidden;
  }

  &__inner_left {
    @apply max-w-[24px] left-0;
  }

  &__inner_right {
    @apply max-w-[32px] right-0;
  }
}

.v-input_checkbox {
  @apply opacity-0;
  @apply w-[18px] h-[18px];
  @apply cursor-pointer;
}

.v-input-wrapper:has(.v-input__checkmark) {
  @apply inline-flex;
  @apply items-center;

  input:checked ~ .v-input__checkmark {
    @apply bg-coral;

    svg {
      & > * {
        stroke-width: 3px;
        @apply stroke-white;
      }
    }
  }

  :not(input:checked) ~ .v-input__checkmark {
    svg {
      @apply opacity-0;
    }
  }
}

.v-input__checkmark {
  @apply pointer-events-none;
  position: absolute;
  @apply top-0 left-0;
  @apply w-[100%] h-[100%];
  @apply rounded;
  @apply border-2 border-solid border-coral-dark;
  @apply w-[18px] h-[18px];
  svg {
    @apply w-[100%] h-[100%];
  }
}

.v-input_error {
  @apply outline-coral;

  &:focus {
    @apply outline-coral outline-2;
  }
}