.progress-indicator {
  @apply inline-grid grid-flow-col place-items-center gap-1;
  @apply w-fit;

  &__dot {
    transition: all .7s ease-in-out, width .2s ease-in-out;
    @apply cursor-pointer;
    @apply h-3 w-3;
    @apply shadow-inner;
    @apply rounded-full;
    @apply bg-primary bg-opacity-20;
    @apply border border-solid border-primary border-opacity-15;
  }

  &__block {
    transition: all .7s ease-in-out, width .2s ease-in-out;
    @apply cursor-pointer;
    @apply h-3 w-6;
    @apply shadow-inner;
    @apply rounded;
    @apply bg-primary bg-opacity-20;
    @apply border border-solid border-primary border-opacity-15;
  }

  &_active {
    &.progress-indicator__dot {
      transition: width .2s ease-in-out;
      @apply bg-opacity-100;
      @apply w-4;
    }

    &.progress-indicator__block {
      transition: width .2s ease-in-out;
      @apply bg-opacity-100;
      @apply w-8;
    }
  }
}